/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.gray_background{
  background: gray;
  
}
.green_background{
  background: green;

}

.navbar-toggler:focus{
  box-shadow: none;
  border: 1px solid #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
  background-color: #0d1016;

} */

/* .navbar-expand-md .navbar-nav .nav-link {
  margin-right: 10px;
}
.border_white{
  border: 1px solid #ffffff !important;
} */